@import "https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister";

html, body, div, button {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background: #FEB1C1;
    width: 100%;
    height: 100%;
    font-family: 'Love Ya Like A Sister';
    font-weight: 400;
}

.three {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: move;
    overflow: hidden;
}

.button-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(230%);
    background: #FEB1C1;
    height: 115px;
}

@media screen and (max-width: 800px) {
    .button-wrapper {
        height: 95px;
    }
}

button {
    position: relative;
    width: 220px;
    height: 50px;
    font-size: 18px;
    left: 50%;
    z-index: 2;
    margin: 0 auto; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%);
    border: 0;
    background: #6ce2de;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    outline: 0;
    box-shadow: 0 5px #6ce2de;
}

button:hover {
    margin-top: 1px; /* Slight adjustment to avoid flickering */
    box-shadow: 0 4px #6ce2de;
}

button:active {
    margin-top: 3px; /* Slight adjustment to avoid flickering */
    box-shadow: 0 2px #6ce2de;
}

@media screen and (max-width: 800px) {
    button {
        margin: 0 auto; /* Center horizontally */
        top: 50%; /* Center vertically */
        transform: translate(-50%, -50%);
        width: 180px;
        height: 40px;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: 0 3px #c56b4f;
    }

    button:hover {
        margin-top: 2px; /* Slight adjustment to avoid flickering */
        box-shadow: 0 2px #c56b4f;
    }

    button:active {
        margin-top: 4px; /* Slight adjustment to avoid flickering */
        box-shadow: 0 0 #c56b4f;
    }
}
/* @import "https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister"; */

    
    /* Style for navigation bar */
    header {
    text-align: left; 
    padding: 10px;
    background: transparent;
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    z-index: 1; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    }
  
    /* Style for links inside  container */
    .container a {
    color: #000000;
    text-decoration: none;
    font-family: 'Love Ya Like A Sister';
    font-size: 26px;
    margin: 0px 50px; /* Increase the margin for spacing */
    padding: 50px 50px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    }
    
    /* Style for ball of yarn animation */
    .container a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 60%;
    width: 100px;
    height: 100px;
    background: url('../../clipartyarn.png') center center / cover no-repeat;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 0;
    }
    
    /* Specific style before hovering */
    .container a::before {
    transform: translate(-50%, -50%) scale(0);
    }
    
    
    .container a.home::before {
    left: -55px;
    }
    
    
    .container a.all::before {
    left: 75px;
    transform: translateX(80%); 
    margin-right: 20px; 
    }
    
    
    .container a:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
    }